@font-face {
    font-family: 'highjersey';
    src:  url('../fonts/HighJersey.woff2') format('woff2'),
        url('../fonts/High\ Jersey.woff') format('woff');      
}

@font-face {
    font-family: 'highjerseyItalic';
    src:  url('../fonts/HighJerseyItalic.woff2') format('woff2'),
        url('../fonts/HighJerseyItalic.woff') format('woff');
}

@font-face {
    font-family: 'runboy';
    src:  url('../fonts/Runboy.woff2') format('woff2'),
    url('../fonts/Runboy.woff') format('woff');
}

@font-face {
    font-family: 'basketball';
    src:  url("../fonts/Basketball.otf") format("woff");
}


body{
    margin:0%;
    background-image: url("../images/gray_background.jpg");
    width: 100%;
}

#desktopWire{
    width: 100%;
}

.float-child{
    float: left;
    padding: 100px;

}

h1,h2{
    font-family: 'basketball';
    text-align: center;
    font-size: 300%;
    letter-spacing: 5px;
    color: whitesmoke;
}

#sitemapLink{
    text-align: center;
    font-size: 300%;
    color: #FFB001;
    background-color: black;
}
#sitemapDiv{
    float: left;
    padding-left: 150px;
}